language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
cache: pip
before_install:
  - "pip install -U pip"
  - "export PYTHONPATH=$PYTHONPATH:$(pwd)"
install:
  - pip install -r requirements.txt
script:
  - python tests/test_pybit.py
